.main{
    background-image: url('../images/main/bg.png');
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-content{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            font-size: 64px;
            color: #FFF;
        }

        &__input{
            color: #FFF;
            background-color: #D9D9D933;
            text-align: center;
            margin-top: 60px;
            font-size: 20px;
            border: none;
            padding: 30px 0;
            width: 512px;

            &::placeholder{
                color: #FFFFFF80;
            }
        }

        &__image{
            margin-top: 35px;
            width: 136px;
            height: 136px;
        }

        &__button{
            margin-top: 95px;
            border: none;
            color: white;
            text-align: center;
            width: 373px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            background-image: url('../images/common/button.png');
        }
    }
}